@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #041220;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #00264e;
}

@layer components {
  .one:hover span:last-child {
    width: 100%;
  }

  .two:hover span {
    width: 50%;
  }

  .three:hover span {
    height: 100%;
  }

  .pw-white-layer {
    position: relative;
  }

  .pw-white-layer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #243e58;
    opacity: 0.8;
    z-index: 8;
  }

  .pw-button-gradient {
    background: linear-gradient(90deg, #1e72ef 0%, #2996fc 100%, #249dd6 100%);
  }

  .pw-gradient-background {
    background: linear-gradient(
      193.19deg,
      #1a2f43 10.81%,
      #163553 38.5%,
      #183a5a 49.5%,
      #1a2f43 82.27%,
      #1a3044 82.27%
    );
  }
}
